{% extends 'base.html' %}
{% block title %}
<title>Про магазин</title>
{% endblock %}




{% block body %}
<div class="container">
    <h1>Про магазин</h1>
<p>"В мире антенн" - единственное предприятие Белгородской области, специализирующееся на решении комплексных задач, связанных с приемом и распределением качественного телевизионного сигнала. Для решения поставленной задачи предприятие располагает квалифицированными кадрами с высшим и средним специальным образованием в области электроники и энергетики.<br><br>В состав предприятия входит специализированный торгово-консультационный зал, монтажный участок, ремонтная лаборатория и спецтранспорт.</p><br>

В своей деятельности ООО «Бытсвязьсервис» основывается на принципы честности и добросовестности, и Федеральные законы, такие как:    <br>
1) Федеральный закон от 28.12.2009 №381 ФЗ (ред. От 25.12.2023) «Об основах государственного регулирования торговой деятельности в Российской Федерации»    <br>
2) Закон РФ от 07.02.1992 №2300-1 (ред. От 04.08.2023) «О защите прав потребителей»    <br>
3) Федеральный закон от 07.02.2011 №402-ФЗ «О бухгалтерском учете»    <br>
4) Федеральный закон от 08.02.1998 №14-ФЗ (ред. От 13.06.2023) «Об обществах с ограниченной ответственностью»    <br>
    <img src="static/about1.png" class="img-fluid">
    <br>
Наши контакты:     <br>
ООО «Бытсвязьсервис»📺<br>
Адрес🏠:
г. Белгород, ул. Попова, д. 100;<br>
Электронная почта📧:
vmireantenn@mail.ru;<br>
Телефоны☎️:<br>
-8(4722)26-06-97<br>
-8(4722)34-65-64<br>
    {% endblock %}