{% extends 'base.html' %}

{% block title %}
<title>Корзина</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="main-body">



          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">

                    <img src="static/cart.png" alt="user_photo" class="rounded-circle" width="150">
                    <!--<img src="static/users images/{{current_user.photo}}" alt="user_photo" class="rounded-circle" height="200" > -->
                    <!-- {% if current_user.photo == None %}
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user_photo" class="rounded-circle" >
                    {% elif current_user.status == 'tg' %}
                    <img src="{{current_user.photo}}" alt="user_photo" class="rounded-circle" height="200" >
                    {% else %}
                    <img src="static/users images/{{current_user.photo}}" alt="user_photo" class="rounded-circle" height="200" >
                    {% endif %} -->

                    <div class="mt-3">
                      <h4>Корзина</h4>
                      {% if total > 0 %}
                      <h5 class="text-secondary mb-1" >Итого:</h5><h5 class="text-secondary mb-1"  id = "total">{{total}} </h5>
                      {% else %}
                      <h5 class="text-secondary mb-1" >В вашей корзине сейчас пусто.</h5>
                      {% endif%}
                      {% if total > 0 %}
                      <a class="btn btn btn-success btn-block" href="/buy" id ="pay">Оплатить</a>
                      {% endif%}
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <h2 class="mb-0">Состав заказа</h2><hr>

              <div class="card mb-3">
                <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Название</th>
                      <th scope="col">Количество</th>
                      <th scope="col">Цена за шт.</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>


                      {% for key, value in session['cart'].items() %}
                      <tbody id="tbody_{{key}}">
                      <tr>
                      <td scope="row">{{value['title']}}</td>
                      <td>
                        <button type="button" class="btn btn-primary"  id="decrease_{{key}}">-</button>
                          <input id="amount_{{key}}" readonly size="1" value="{{value['amount']}}" >
                        <button type="button" class="btn btn-primary" id="increase_{{key}}">+</button>
                      </td>
                      <td id="price_{{key}}">{{value['price']}}</td>
                      <td scope="row"><button type="button" class="btn btn-danger" id="delete_{{key}}">Удалить</button></td>
                    </tr>
                  </tbody>
                      {% endfor %}

                </table>
              </div>


              </div>

              <button type="button" class="btn btn-secondary back-to-top" data-bs-toggle="tooltip" data-bs-placement="right" title="Наверх">Наверх
              <i class="bi bi-arrow-up-short"></i>
              </button>
    </div>
    <script src="{{ url_for('static', filename='cart.js') }}"></script>
    <script src="static/to_top.js"></script>
    {% endblock %}