{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
<p>"В мире антенн" - единственное предприятие Белгородской области, специализирующееся на решении комплексных задач, связанных с приемом и распределением качественного телевизионного сигнала. Для решения поставленной задачи предприятие располагает квалифицированными кадрами с высшим и средним специальным образованием в области электроники и энергетики.<br><br>В состав предприятия входит специализированный торгово-консультационный зал, монтажный участок, ремонтная лаборатория и спецтранспорт.</p><br>

    {% endblock %}