{% extends 'base.html' %}

{% block title %}
<title>Сброс пароля</title>
{% endblock %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card w-100" style="max-width: 400px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Сброс пароля</h3>
      {% for msg in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">{{msg}}</div>
      {% endfor %}
      <form enctype="multipart/form-data" method="POST">
        <!-- email-->
        <div class="mb-3">
          <label for="password" class="form-label">Почта</label>
          <input type="text" class="form-control" id="email" name="email"
          required

          >
        </div>
        <button type="submit" class="btn btn-primary w-100">Сбросить пароль</button>

      </form>
            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" id = "aasd" href="/">Вернуться на главную</a>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='mask.js') }}"></script>
{% endblock %}