{% extends 'base.html' %}

{% block title %}
<title>Сброс пароля</title>
{% endblock %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card w-100" style="max-width: 400px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Сброс пароля</h3>
      {% for msg in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">{{msg}}</div>
      {% endfor %}
      <form enctype="multipart/form-data" method="POST">
        <!-- password-->
        <div class="mb-3">
          <label for="password" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="password" name="password"  
          required

          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])[A-Za-z\d\W_]{5,16}$"
          title="Пароль должен содержать одну цифру, строчную букву, заглавную букву, один спецсимвол, без пробелов и должен состоять из 5-16 символов."
          >
           <!-- pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*_)(?!.* ).{8,16}$"-->
        </div>
        <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" id = "aasd" href="/">Вернуться на главную</a>
      </form>

    </div>
  </div>
</div>


{% endblock %}